<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <div style="text-align: center; margin-bottom: 20px;">
                    <img src="https://visitor-badge.laobi.icu/badge?page_id=julio-studio.lar-espirita&left_text=Visitas&right_color=blue" alt="Contador de Visitas">
                </div>

                <p class="copyright text-muted">
                    Copyright &copy; {{ .Site.Title }} {{ .Date.Format "2006" }}
                    <br>
                    Estúdio <a href="https://github.com/Julio-Studio">Julio-Studio</a>
                </p>
            </div>
        </div>
    </div>
</footer>